PyYAML
Pyrogram
TgCrypto
loguru
httpx
yt_dlp
psutil
prettytable
bs4
python-i18n
redis
git+https://github.com/bling0390/mega.py
mediafire
gdown
rclone-python
git+https://github.com/celery/celery@v5.5.0rc3
pymongo
motor
click
PyDispatcher
mongoengine